# fly.toml app configuration file generated for ysy5491-surl on 2025-12-27T18:34:09+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ysy5491-surl'
primary_region = 'nrt'

[build]

[http_service]
  internal_port = 8090
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    grace_period = "40s"
    interval = "10s"
    timeout = "2s"
    method = "get"
    path = "/actuator/health"

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
